:root {
    --sidebarwidth:12em;
  }
  

.Sidebar {
    grid-column: 1;
    grid-row: 2;
    margin-top: 0.5em;
    margin-right: 0.5em;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    align-items: left;
    /* padding:1em */
}

.HeadshotImage {
    /* margin-top: auto;
    margin-bottom: auto; */
    border-radius: 50%;
    width: 60%;
    margin-top: 1em;
    margin-bottom: 1em;
    /* position:absolute; */
    /* transform: translate(0, calc((85vh * 0.5) - (var(--sidebarwidth)*0.4))); */
    width: calc(var(--sidebarwidth)*0.6);
}




.Container{
    display: flex;
    flex-direction: column;
}

.TitleContainer{
    margin-top: 1em;
}

.ImageContainer{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.InfoContainer{
    margin-bottom: 1em;
}

.RoleContainer{
    margin-top: 0.5em;
    margin-bottom: auto;
}

.InfoRow {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-right: auto;
    margin-top: 8pt;
}

.RoleRow {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.InfoIcon{
    padding: 0;
    margin: 0;
    height: 10pt;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 4pt;
}

.RowLink {
    text-decoration: none; 
    color: var(--default-text);
}

.RowLink:hover {
    text-decoration: underline; 
    color: var(--secondary);
}