


.Title {
    font-size: 32pt;
    font-weight: 600;
}

.TitleBar{
    grid-row: 1  ;
    grid-column: 1/3 ;
    display: flex;
    align-items: center;
    position: sticky;
    width: var(--sidebar-width);
    padding-left: var(--wall-padding);
}

